# The following are what rUNSWift is as of 2024-04-06 using on main.
# It is left as an exercise to the astute consumer of the 2023 release, as to how to upgrade the Softbank image
# accordingly, or alternately switch the operating system to something else.
numpy==1.26.4
pyalsaaudio==0.10.0

# termcolor also could be moved to a requirements_dev.txt file
# Linux and OSX (not on robot) requirement to make tests easier to read
termcolor==1.1.0
